.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s; 
}

.modal-content {
  background: #34495e;
  color: #ecf0f1; 
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35); 
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 
  width: 90%;
  max-width: 450px;
  opacity: 0.95; 
}

.modal-content h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #f1c40f; 
}

.modal-content p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #bdc3c7; 
}

.modal-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.cancel-btn {
  background-color: #95a5a6; 
  color: #2c3e50;
  padding: 12px 30px;
  border: none;
  border-radius: 50px; 
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s; 
}

.cancel-btn:hover {
  background-color: #7f8c8d; 
  transform: translateY(-2px); 
}

.delete-btn {
  background-color: #e74c3c; 
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s; 
}

.delete-btn:hover {
  background-color: #c0392b;
  transform: translateY(-2px); 
}


@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
